SECRET_KEY=7I1b2PTmftnzw81cefp8mXd+m2Y6WNSNvqOCUClOmnw=

# cloudary
CLOUDINARY_NAME=ddqzgiilu
CLOUDINARY_API_KEY=226199235821481
CLOUDINARY_API_SECRET=9gil7DBVuwUxdbWrFh-82zNweNM
CLOUDINARY_GALLERY_FOLDER=baber_booking/gallery/
CLOUDINARY_AVATAR_USER_FOLDER=baber_booking/avatar/

# database
MYSQL_DATABASE=baber_booking
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3309
MEDIA_FOLDER=media

#email
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=baberbooking5one@gmail.com
EMAIL_HOST_PASSWORD=ductai2207
EMAIL_PORT = 587
